*{
    margin: 0;
}

.logIn{
    width: 100%;
    height: 400px;
    margin-top: 8%;
    background-image: url(./images/white\ image.jpg);
    background-position: center;
    background-size: cover;
}
.logo{
    height: 100%;
    width: 50%;
    float: left;
    text-align: right;
    font-size: 5vw;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
}
.logo > .h3{
    margin-right: 40px;
    margin-top: 25%;
}
.logInContainer{
height: 100%;
width: 50%;
text-align: center;
float: left;
color: black;
font-family: 'Roboto', sans-serif;

}
.logInContainer > input{
    height: 30px;
    width: 60%;
    margin-top: 20px;
    
}
.logInContainer :nth-child(1){
    margin-top: 8%;
    border-top: none;
    border-left: none;
    outline: none;
    text-indent: 10px;
    border-right: none;
    background-color: rgba(29, 4, 141, 0.199);
}
.logInContainer p{
    margin-top: 2%;
    
}
.logInContainer :nth-last-child(6), :nth-last-child(5), :nth-last-child(4), :nth-last-child(3), :nth-last-child(2){
    border-top: none;
    text-indent: 10px;
    outline: none;
    border-left: none;
    border-right: none;
    background-color: rgba(29, 4, 141, 0.199);
}
.logInContainer :nth-last-child(1){
    background-color: transparent;
    border: none;
    color: black;
    outline: none;
    font-size: 1.2vw;
}
.logInContainer :nth-last-child(1):hover{
cursor: pointer;
}